src/main/resources/wsdl/entities/v3.1/CATSTypes.xsd

<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Directv Warehouse (Directv Warehouse) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ent="http://ei.directv.com/schemas/entities/v3_1" targetNamespace="http://ei.directv.com/schemas/entities/v3_1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="./BasicElementDefinitions.xsd"/>
	<xs:include schemaLocation="./CommonComplexTypes.xsd"/>
	<xs:element name="recordingID" type="xs:string">
		<xs:annotation>
			<xs:documentation>CAMC Material ID. Refers to Broadband content/Satelite Contet depending on the attribute type</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="channelCallSign" type="xs:string">
		<xs:annotation>
			<xs:documentation>Channel Call Sign </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="channelName" type="xs:string">
		<xs:annotation>
			<xs:documentation>Channel Name</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="majorChannel" type="xs:int">
		<xs:annotation>
			<xs:documentation>Major Channel Identifier </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="minorChannel" type="xs:int">
		<xs:annotation>
			<xs:documentation>Major Channel Identifier </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="channelFormat" type="ent:ChannelFormatEntity">
		<xs:annotation>
			<xs:documentation>Identifies the Channel Format</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="productPriority" type="ent:RecordingPriorityEntity">
		<xs:annotation>
			<xs:documentation>Identifies the Priority of the recording</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="verifyCallBack" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Call Back verfication</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="keepUntilDelete" type="xs:boolean" default="false">
		<xs:annotation>
			<xs:documentation>Keep Unitl I Delete Flag</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="requestLifeTime" type="xs:int" default="14">
		<xs:annotation>
			<xs:documentation>Life Time of the request</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="recordingSerialNumber" type="xs:long">
		<xs:annotation>
			<xs:documentation>Ack Generated by the CATS system</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="series" type="xs:boolean" default="false">
		<xs:annotation>
			<xs:documentation>Is this request for a series</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="seasonNumber">
		<xs:annotation>
			<xs:documentation>Season Number of the program </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="duration" type="xs:long">
		<xs:annotation>
			<xs:documentation>Duration of the recording.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="startTimeUTC" type="xs:long">
		<xs:annotation>
			<xs:documentation>Start Time in UTC. This is the Julian Timestamp </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="channelInfo" type="ent:ChannelEntity">
		<xs:annotation>
			<xs:documentation>Identifies the Channel </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="ChannelFormatEntity">
		<xs:restriction base="xs:string">
			<xs:enumeration value="major"/>
			<xs:enumeration value="both"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ChannelEntity">
		<xs:annotation>
			<xs:documentation>Identifies the Channel Object. Could be major or both.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ent:majorChannel"/>
			<xs:element ref="ent:minorChannel" minOccurs="0"/>
			<xs:element ref="ent:channelFormat"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="recurring" type="xs:boolean" default="false"/>
	<xs:element name="useBroadband" type="xs:boolean" default="true"/>
	<xs:element name="useSatellite" type="xs:boolean" default="true"/>
	<xs:element name="useChannelConstraint" type="xs:boolean" default="false"/>
	<xs:element name="useURIConstraint" type="xs:boolean" default="false"/>
	<xs:element name="useTimeConstraint" type="xs:boolean" default="false"/>
	<xs:element name="tvURI" type="xs:string"/>
	<xs:element name="camcSerialNumber" type="xs:long"/>
	<xs:simpleType name="RecordingPriorityEntity">
		<xs:restriction base="xs:string">
			<xs:enumeration value="low"/>
			<xs:enumeration value="high"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RecordingEntity">
		<xs:annotation>
			<xs:documentation>Information about the Program</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ent:BasicEntity">
				<xs:sequence>
					<xs:element ref="ent:accessCardId"/>
					<xs:element ref="ent:recordingSerialNumber"/>
					<xs:element ref="ent:recordingType"/>
					<xs:element ref="ent:recordingID" minOccurs="0"/>
					<xs:element ref="ent:productPriority"/>
					<xs:element ref="ent:requestLifeTime"/>
					<xs:element ref="ent:keepUntilDelete"/>
					<xs:element ref="ent:useBroadband" minOccurs="0"/>
					<xs:element ref="ent:useSatellite" minOccurs="0"/>
					<xs:element ref="ent:useChannelConstraint" minOccurs="0"/>
					<xs:element ref="ent:useURIConstraint" minOccurs="0"/>
					<xs:element ref="ent:useTimeConstraint" minOccurs="0"/>
					<xs:element ref="ent:tvURI" minOccurs="0"/>
					<xs:element ref="ent:recurring" minOccurs="0"/>
					<xs:element ref="ent:series" minOccurs="0"/>
					<xs:element ref="ent:seasonNumber" minOccurs="0"/>
					<xs:element ref="ent:channelInfo" minOccurs="0"/>
					<xs:element ref="ent:duration" minOccurs="0"/>
					<xs:element ref="ent:startTimeUTC" minOccurs="0"/>
					<xs:element ref="ent:verifyCallBack"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="recordingType" type="ent:RecordingEntityType"/>
	<xs:simpleType name="RecordingEntityType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="material"/>
			<xs:enumeration value="content"/>
			<xs:enumeration value="CRID"/>
			<xs:enumeration value="channel"/>
			<xs:enumeration value="linear"/>
			<xs:enumeration value="nonlinear"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="recording" type="ent:RecordingEntity"/>
	<!-- Used to identify program information -->
	<xs:element name="program">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ent:description" minOccurs="0"/>
				<xs:element ref="ent:channelCallSign"/>
				<xs:element ref="ent:channelName"/>
				<xs:element ref="ent:startDateTime"/>
				<xs:element ref="ent:endDateTime"/>
				<xs:element ref="ent:duration"/>
				<xs:element ref="ent:episodeTitle" minOccurs="0"/>
				<xs:element ref="ent:ranking"/>
				<xs:element ref="ent:title"/>
				<xs:element ref="ent:tvURI" minOccurs="0"/>
				<xs:element ref="ent:majorChannel"/>
				<xs:element ref="ent:totalViewers"/>
				<xs:element ref="ent:genre" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="CAMCKeyInformationEntity">
		<xs:annotation>
			<xs:documentation>Fields common to all CAMC initiated messages</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ent:BasicEntity">
				<xs:sequence>
					<xs:element ref="ent:signature" minOccurs="0"/>
					<xs:element ref="ent:camcSubscriberId" minOccurs="0"/>
					<xs:element ref="ent:accessCardId" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReportCallbackEntity">
		<xs:annotation>
			<xs:documentation>Fields supporting a CAMC reportback</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ent:BasicEntity">
				<xs:sequence>
					<xs:element ref="ent:callbackDateTime" minOccurs="0"/>
					<xs:element ref="ent:purchLimit" minOccurs="0"/>
					<xs:element ref="ent:purchThreshold" minOccurs="0"/>
					<xs:element ref="ent:purchaseBalance" minOccurs="0"/>
					<xs:element ref="ent:receiverId" minOccurs="0"/>
					<xs:element ref="ent:irdId" minOccurs="0"/>
					<xs:element ref="ent:callbackPhoneNumber" minOccurs="0"/>
					<xs:element name="callbackTypeList" type="ent:CallbackTypeListEntity" minOccurs="0"/>
					<xs:element ref="ent:accessCardId" minOccurs="0"/>
					<xs:element ref="ent:verifierVersionNumber" minOccurs="0"/>
					<xs:element ref="ent:irdVersionNumber" minOccurs="0"/>
					<xs:element ref="ent:ippvCount" minOccurs="0"/>
					<xs:element name="ippvProgramList" type="ent:IPPVProgramListEntity" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CallbackTypeListEntity">
		<xs:annotation>
			<xs:documentation>Reportback may return more than one callback type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ent:ippvCallbackType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IPPVProgramEntity">
		<xs:annotation>
			<xs:documentation>Information about an IPPV Program -- both the J and action</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ent:BasicEntity">
				<xs:sequence>
					<xs:element ref="ent:ippvNumber" minOccurs="0"/>
					<xs:element ref="ent:expirationDate" minOccurs="0"/>
					<xs:element ref="ent:tapingPermittedFlag" minOccurs="0"/>
					<xs:element ref="ent:ippvNonViewableFlag" minOccurs="0"/>
					<xs:element ref="ent:specialEventFlag" minOccurs="0"/>
					<xs:element ref="ent:canceledFlag" minOccurs="0"/>
					<xs:element ref="ent:ippvViewedFlag" minOccurs="0"/>
					<xs:element ref="ent:ippvPrice" minOccurs="0"/>
					<xs:element ref="ent:broadcastDate" minOccurs="0"/>
					<xs:element ref="ent:multiPartEventFlag" minOccurs="0"/>
					<xs:element ref="ent:callbackUponPurchaseFlag" minOccurs="0"/>
					<xs:element ref="ent:immediateCallbackFlag" minOccurs="0"/>
					<xs:element ref="ent:ippvExtensionFlag" minOccurs="0"/>
					<xs:element ref="ent:extendableRentalFlag" minOccurs="0"/>
					<xs:element ref="ent:ippvType" minOccurs="0"/>
					<xs:element ref="ent:rentalDuration" minOccurs="0"/>
					<xs:element ref="ent:entitlementExpirationDateTime" minOccurs="0"/>
					<xs:element ref="ent:maximumExpirationDate" minOccurs="0"/>
					<xs:element ref="ent:ippvFirstViewedDateTime" minOccurs="0"/>
					<xs:element ref="ent:purchaseDateTime" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IPPVProgramListEntity">
		<xs:sequence>
			<xs:element name="ippvProgram" type="ent:IPPVProgramEntity" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CAMCNotificationEntity">
		<xs:annotation>
			<xs:documentation>Supported kin announcements</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ent:BasicEntity">
				<xs:choice>
					<xs:element name="kinNotifications" type="ent:KinNotificationEntity" minOccurs="0"/>
					<xs:element ref="ent:birthNotificationFlag" minOccurs="0"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="KinNotificationEntity">
		<xs:annotation>
			<xs:documentation>Supported kin announcements</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ent:BasicEntity">
				<xs:sequence>
					<xs:element ref="ent:chainingCompleteFlag" minOccurs="0"/>
					<xs:element ref="ent:sendData" minOccurs="0"/>
					<xs:element name="hardClose" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ent:oldAccessCardId" minOccurs="0"/>
								<xs:element ref="ent:newAccessCardId" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="subscriberDataChange" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ent:accessCardId" minOccurs="0"/>
								<xs:element ref="ent:newAccessCardId" minOccurs="0"/>
								<xs:element ref="ent:messageReceiveDate" minOccurs="0"/>
								<xs:element ref="ent:zipCode" minOccurs="0"/>
								<xs:element ref="ent:personalRegionBits" minOccurs="0"/>
								<xs:element ref="ent:callbackAvailability" minOccurs="0"/>
								<xs:element ref="ent:callbackDay" minOccurs="0"/>
								<xs:element ref="ent:callbackTime" minOccurs="0"/>
								<xs:element ref="ent:privateNetwork" minOccurs="0"/>
								<xs:element ref="ent:fipsStateCode" minOccurs="0"/>
								<xs:element ref="ent:fipsCountyCode" minOccurs="0"/>
								<xs:element ref="ent:cableIndicatorFlag" minOccurs="0"/>
								<xs:element ref="ent:nonPayFlag" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="clearCardTransfer" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ent:oldAccessCardId" minOccurs="0"/>
								<xs:element ref="ent:newAccessCardId" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="undoHardClose" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ent:accessCardId" minOccurs="0"/>
								<xs:element ref="ent:newAccessCardId" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="newCard" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ent:newAccessCardId" minOccurs="0"/>
								<xs:element ref="ent:oldAccessCardId" minOccurs="0"/>
								<xs:choice>
									<xs:element ref="ent:authorizedByOldCardChainingFlag" minOccurs="0"/>
									<xs:element ref="ent:authorizedByNewCardOverAirFlag" minOccurs="0"/>
								</xs:choice>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="setReceiverId" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ent:receiverId" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="releaseReceiverId" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="ent:receiverId" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element ref="ent:authorizeHardClosedSubscriberFlag" minOccurs="0"/>
					<xs:element ref="ent:windowOfReversibilityClosedFlag" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="callbackPhoneNumber" type="ent:BasicPhoneEntity"/>
	<xs:complexType name="RemoteBookingEntity">
		<xs:annotation>
			<xs:documentation>Supports linear and nonlinear recording</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ent:BasicEntity">
				<xs:sequence>
					<xs:element ref="ent:authenticationToken" minOccurs="0"/>
					<xs:element ref="ent:siteId" minOccurs="0"/>
					<xs:element ref="ent:siteUserId" minOccurs="0"/>
					<xs:element ref="ent:accessCardId" minOccurs="0"/>
					<xs:element ref="ent:recordingId" minOccurs="0"/>
					<xs:element ref="ent:channelId" minOccurs="0"/>
					<xs:element ref="ent:startDateTime" minOccurs="0"/>
					<xs:element ref="ent:seriesFlag" minOccurs="0"/>
					<xs:element ref="ent:titleId" minOccurs="0"/>
					<xs:element ref="ent:productPriority" minOccurs="0"/>
					<xs:element ref="ent:keepUntilDeleteFlag" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
