src/main/resources/wsdl/entities/v3.2/BasicElementDefinitions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by Mousa Arbeed (DIRECTV-MISSOULA CALL CENTER) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ent="http://ei.directv.com/schemas/entities/v3_2" targetNamespace="http://ei.directv.com/schemas/entities/v3_2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="./CoreTypes.xsd"/>
	<xs:include schemaLocation="./CoreLists.xsd"/>
	<xs:element name="accessCardChangeActionTaken" type="xs:string"/>
	<xs:element name="accessCardChangeDistributionMethod" type="xs:string"/>
	<xs:element name="accessCardChangeDistributionMethodDescription" type="xs:string"/>
	<xs:element name="accessCardChangeStatus" type="xs:string"/>
	<xs:element name="accessCardChangeStatusDescription" type="xs:string"/>
	<xs:element name="accessCardChangeType" type="xs:string"/>
	<xs:element name="accessCardDisconnectType" type="xs:string"/>
	<xs:element name="accessCardId" type="xs:string"/>
	<xs:element name="accessCardIndicator" type="xs:string"/>
	<xs:element name="accessCardStatus" type="xs:string"/>
	<xs:element name="accessCardType" type="xs:string"/>
	<xs:element name="accessFeeBypassFlag" type="xs:boolean"/>
	<xs:element name="accessMethod" type="xs:string"/>
	<xs:element name="accessorySerialNumber" type="xs:string"/>
	<xs:element name="accountBalance" type="xs:decimal"/>
	<xs:element name="accountBalanceCode" type="xs:string"/>
	<xs:element name="accountDisconnectTimeframeCode" type="xs:string"/>
	<xs:element name="accountId" type="xs:long"/>
	<xs:element name="accountIndicator" type="xs:string"/>
	<xs:element name="accountingPeriod" type="xs:long"/>
	<xs:element name="accountingYear" type="xs:long"/>
	<xs:element name="accountOwner" type="xs:string"/>
	<xs:element name="accountPastDueThreshold" type="xs:decimal"/>
	<xs:element name="accountStatus" type="xs:string"/>
	<xs:element name="accountStatusCode" type="xs:string"/>
	<xs:element name="accountStatusEligible" type="xs:boolean"/>
	<xs:element name="accountStatusGroupCode" type="xs:string"/>
	<xs:element name="accountType" type="xs:string"/>
	<xs:element name="accountTypeCode" type="xs:string"/>
	<xs:element name="accountTypeEligible" type="xs:boolean"/>
	<xs:element name="accountWriteOffBalanceCode" type="xs:string"/>
	<xs:element name="action" type="xs:string"/>
	<xs:element name="actionCode" type="xs:string"/>
	<xs:element name="actionDescription" type="xs:string"/>
	<xs:element name="actionTakenDate" type="xs:date"/>
	<xs:element name="activateByDate" type="xs:date"/>
	<xs:element name="activationDate" type="xs:date"/>
	<xs:element name="activationFee" type="xs:string"/>
	<xs:element name="activationFeeAmount" type="xs:long"/>
	<xs:element name="additionalDialUpAccountIncluded" type="xs:string"/>
	<xs:element name="additionalProviderInformation" type="xs:string"/>
	<xs:element name="additionalTargetsExistFlag" type="xs:boolean"/>
	<xs:element name="address1" type="xs:string"/>
	<xs:element name="address2" type="xs:string"/>
	<xs:element name="address3" type="xs:string"/>
	<xs:element name="address4" type="xs:string"/>
	<xs:element name="adjustmentType" type="xs:string"/>
	<xs:element name="agreementDescription" type="xs:string"/>
	<xs:element name="agreementEndDate" type="xs:date"/>
	<xs:element name="agreementId" type="xs:string"/>
	<xs:element name="agreementIsIncrementalFlag" type="xs:boolean"/>
	<xs:element name="agreementStartDate" type="xs:date"/>
	<xs:element name="airDate" type="xs:dateTime"/>
	<xs:element name="airDateTime" type="xs:dateTime"/>
	<xs:element name="allowIPPVFlag" type="xs:boolean"/>
	<xs:element name="allowOPPVFlag" type="xs:boolean"/>
	<xs:element name="alreadyOptedIn" type="xs:boolean"/>
	<xs:element name="alternateAccountFlag" type="xs:boolean"/>
	<xs:element name="alternatePassword" type="xs:string"/>
	<xs:element name="alternateServicerFlag" type="xs:boolean"/>
	<xs:element name="amount" type="xs:decimal"/>
	<xs:element name="apartmentNumber" type="xs:string"/>
	<xs:element name="apiUsageIndicator" type="xs:string"/>
	<xs:element name="assetId1" type="xs:string"/>
	<xs:element name="assetId2" type="xs:string"/>
	<xs:element name="authorizationCode" type="xs:string"/>
	<xs:element name="authenticationDescription" type="xs:string"/>
	<xs:element name="authenticationInstructions" type="xs:string"/>
	<xs:element name="authenticationRequired" type="xs:boolean"/>
	<xs:element name="authenticationToken" type="xs:string"/>
	<xs:element name="authenticationType" type="xs:string"/>
	<xs:element name="authenticationValue" type="xs:string"/>
	<xs:element name="authorizedCreditCheck" type="xs:boolean"/>
	<xs:element name="authorizedCreditScore" type="xs:boolean"/>
	<xs:element name="autoRenewFlag" type="xs:boolean"/>
	<xs:element name="bankAccountNumber" type="xs:string"/>
	<xs:element name="bankAccountType" type="xs:string"/>
	<xs:element name="bankRoutingNumber" type="xs:long"/>
	<xs:element name="basePrice" type="xs:decimal"/>
	<xs:element name="batchSequenceNumber" type="xs:long"/>
	<xs:element name="beginDate" type="xs:date"/>
	<xs:element name="beginSuspensionDate" type="xs:date"/>
	<xs:element name="billCycleRequestAction" type="xs:string"/>
	<xs:element name="billDueDate" type="xs:date"/>
	<xs:element name="billDueDay" type="xs:int"/>
	<xs:element name="billEventFlag" type="xs:boolean"/>
	<xs:element name="billingCycleDay" type="xs:int"/>
	<xs:element name="billingCycleDayAction" type="xs:string"/>
	<xs:element name="billingName" type="xs:string"/>
	<xs:element name="billingOption" type="xs:string"/>
	<xs:element name="billIssueDate" type="xs:date"/>
	<xs:element name="billsRemaining" type="xs:long"/>
	<xs:element name="billToAlternateAccountFlag" type="xs:boolean"/>
	<xs:element name="billToAlternateAccountId" type="xs:long"/>
	<xs:element name="billToBillingAddressFlag" type="xs:boolean"/>
	<xs:element name="blackoutCode" type="xs:string"/>
	<xs:element name="brandedFlag" type="xs:boolean"/>
	<xs:element name="brandedProductName" type="xs:string"/>
	<xs:element name="brandedProviderName" type="xs:string"/>
	<xs:element name="broadbandEquipmentActivationDateTime" type="xs:dateTime"/>
	<xs:element name="broadbandProductCode" type="xs:int"/>
	<xs:element name="broadbandProductId" type="xs:int"/>
	<xs:element name="broadcastAreaFlag" type="xs:boolean"/>
	<xs:element name="buildingLabel" type="xs:string"/>
	<xs:element name="buildingSize" type="xs:int"/>
	<xs:element name="businessName" type="xs:string"/>
	<xs:element name="businessProcessName" type="xs:string"/>
	<xs:element name="cableAvailableFlag" type="xs:boolean"/>
	<xs:element name="cableStatusFlag" type="xs:string"/>
	<xs:element name="callbackDay" type="xs:nonNegativeInteger"/>
	<xs:element name="callbackThreshold" type="xs:decimal"/>
	<xs:element name="callBackTime" type="xs:time"/>
	<xs:element name="callBackType" type="xs:string"/>
	<xs:element name="camcAccessCardStatus" type="xs:string"/>
	<xs:element name="camcDataCollectionConsent" type="xs:string"/>
	<xs:element name="camcId" type="xs:long"/>
	<xs:element name="camcServiceId" type="xs:long"/>
	<xs:element name="campaignCode" type="xs:string"/>
	<xs:element name="cancelDateTime" type="xs:dateTime"/>
	<xs:element name="cancelledStatus" type="xs:string"/>
	<xs:element name="capacity" type="xs:int"/>
	<xs:element name="carrierRoute" type="xs:string"/>
	<xs:element name="casCardId" type="xs:long"/>
	<xs:element name="category" type="xs:string"/>
	<xs:element name="categoryName" type="xs:string"/>
	<xs:element name="categoryPriority" type="xs:int"/>
	<xs:element name="censusBlockGp" type="xs:string"/>
	<xs:element name="censusTract" type="xs:long"/>
	<xs:element name="certificateId" type="xs:string"/>
	<xs:element name="chainOpCode" type="xs:long"/>
	<xs:element name="chainOperationStatus" type="xs:string"/>
	<xs:element name="channel" type="xs:string"/>
	<xs:element name="channelKey" type="xs:string"/>
	<xs:element name="channelForLegacyReceivers" type="xs:long"/>
	<xs:element name="chargeFeeFlag" type="xs:boolean"/>
	<xs:element name="chargeMirrorFeeAnnuallyFlag" type="xs:boolean"/>
	<xs:element name="chargeOnlyFlag" type="xs:boolean"/>
	<xs:element name="checkNumber" type="xs:string"/>
	<xs:element name="city" type="xs:string"/>
	<xs:element name="cityTax" type="xs:decimal"/>
	<xs:element name="cityTaxCode" type="xs:string"/>
	<xs:element name="code" type="xs:long"/>
	<xs:element name="commentAddedOnDateTime" type="xs:date"/>
	<xs:element name="commentCode" type="xs:long"/>
	<xs:element name="commentSource" type="xs:string"/>
	<xs:element name="commentText" type="xs:string"/>
	<xs:element name="commentType" type="xs:string"/>
	<xs:element name="commissionPaidCount" type="xs:long"/>
	<xs:element name="commissionPaidFlag" type="xs:boolean"/>
	<xs:element name="commissionRate" type="xs:double"/>
	<xs:element name="commissionStartDate" type="xs:date"/>
	<xs:element name="commitmentDescription" type="xs:string"/>
	<xs:element name="commitmentDuration" type="xs:int"/>
	<xs:element name="commitmentExpirationDate" type="xs:date"/>
	<xs:element name="commitmentStatus" type="xs:string"/>
	<xs:element name="commitmentValue" type="xs:long"/>
	<xs:element name="computerRequirements" type="xs:string"/>
	<xs:element name="configurationId" type="xs:long"/>
	<xs:element name="confirmationNumber" type="xs:int"/>
	<xs:element name="confirmationText1" type="xs:string"/>
	<xs:element name="confirmationText2" type="xs:string"/>
	<xs:element name="conflictGroupId" type="xs:long"/>
	<xs:element name="contactName" type="xs:string"/>
	<xs:element name="contactPointId" type="xs:long"/>
	<xs:element name="contentChannelId" type="xs:integer"/>
	<xs:element name="contribution" type="xs:string"/>
	<xs:element name="copyFromTargetId" type="xs:string"/>
	<xs:element name="coreDisconnectReason" type="xs:long"/>
	<xs:element name="coreFlag" type="xs:boolean"/>
	<xs:element name="coreServiceEndDate" type="xs:date"/>
	<xs:element name="coreServiceStartDate" type="xs:date"/>
	<xs:element name="corporateId" type="xs:string"/>
	<xs:element name="corporateName" type="xs:string"/>
	<xs:element name="costOfAccessForAditionalComputer" type="xs:string"/>
	<xs:element name="country" type="xs:string"/>
	<xs:element name="countyCode" type="xs:string"/>
	<xs:element name="countyName" type="xs:string"/>
	<xs:element name="countyTax" type="xs:decimal"/>
	<xs:element name="countyTaxCode" type="xs:string"/>
	<xs:element name="createdByDealerFlag" type="xs:boolean"/>
	<xs:element name="createShowroomAccountFlag" type="xs:boolean"/>
	<xs:element name="creationDate" type="xs:date"/>
	<xs:element name="creditCardCode" type="xs:string"/>
	<xs:element name="creditCardExpirationDate" type="ent:MonthYearEntity"/>
	<xs:element name="creditCardIndicator" type="xs:string"/>
	<xs:element name="creditCardNumber" type="xs:string"/>
	<xs:element name="creditCardType" type="xs:string"/>
	<xs:element name="creditScoreRequestId" type="xs:string"/>
	<xs:element name="creditScoreResultText" type="xs:string"/>
	<xs:element name="creditSegment" type="xs:string"/>
	<xs:element name="creditSegmentCalculatedOnDate" type="xs:date"/>
	<xs:element name="currentPromotions" type="xs:string"/>
	<xs:element name="customerAssignedRank" type="xs:long"/>
	<xs:element name="customerExistsFlag" type="xs:boolean"/>
	<xs:element name="customerId" type="xs:long"/>
	<xs:element name="customerImpact" type="xs:string"/>
	<xs:element name="customerInstallDate" type="xs:date"/>
	<xs:element name="customerSinceDate" type="xs:date"/>
	<xs:element name="customerStatus" type="xs:string"/>
	<xs:element name="customerType" type="xs:string"/>
	<xs:element name="customerValue" type="xs:string"/>
	<xs:element name="cutoffDate" type="xs:date"/>
	<xs:element name="cutoffLevel" type="xs:string"/>
	<xs:element name="cVVCode" type="xs:string"/>
	<xs:element name="cycleGroupNumber" type="xs:long"/>
	<xs:element name="dataReviewPassedFlag" type="xs:boolean"/>
	<xs:element name="dataState" type="xs:string"/>
	<xs:element name="date" type="xs:date"/>
	<xs:element name="dateOfBirth" type="xs:date"/>
	<xs:element name="dateSignalIndicatorCollected" type="xs:date"/>
	<xs:element name="daylightSavingsFlag" type="xs:boolean"/>
	<xs:element name="dayOfMonth" type="xs:nonNegativeInteger"/>
	<xs:element name="daysWithoutserviceInMth" type="xs:long"/>
	<xs:element name="dealerAccountId" type="xs:long"/>
	<xs:element name="dealerChainName" type="xs:string"/>
	<xs:element name="dealerChainNumber" type="xs:long"/>
	<xs:element name="dealerEquipmentSalesFlag" type="xs:boolean"/>
	<xs:element name="dealerFlag" type="xs:boolean"/>
	<xs:element name="dealerId" type="xs:long"/>
	<xs:element name="dealerInstallationFlag" type="xs:boolean"/>
	<xs:element name="dealerName" type="xs:string"/>
	<xs:element name="dealerOtherFlag" type="xs:boolean"/>
	<xs:element name="dealerProgrammingFlag" type="xs:boolean"/>
	<xs:element name="dealerRepairsFlag" type="xs:boolean"/>
	<xs:element name="defaultBillDueDays" type="xs:int"/>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="detailsId" type="xs:int"/>
	<xs:element name="disconnectDate" type="xs:date"/>
	<xs:element name="disconnectReason" type="xs:long"/>
	<xs:element name="disconnectType" type="xs:string"/>
	<xs:element name="discountAmount" type="xs:decimal"/>
	<xs:element name="discountThresholdCode" type="xs:string"/>
	<xs:element name="distributorId" type="xs:string"/>
	<xs:element name="distributorName" type="xs:string"/>
	<xs:element name="districtTax" type="xs:decimal"/>
	<xs:element name="districtTaxCode" type="xs:string"/>
	<xs:element name="dmaAfflCallLetters" type="xs:string"/>
	<xs:element name="dmaAfflNetworkAssociatedWith" type="xs:string"/>
	<xs:element name="dmaCode" type="xs:long"/>
	<xs:element name="dmaPromotionalMessage" type="xs:string"/>
	<xs:element name="dnisId" type="xs:string"/>
	<xs:element name="domainId" type="xs:string"/>
	<xs:element name="dominateCommitmentFlag" type="xs:boolean"/>
	<xs:element name="downloadSpeed" type="xs:string"/>
	<xs:element name="dtvFulfillmentFlag" type="xs:boolean"/>
	<xs:element name="dtvRefNumber" type="xs:string"/>
	<xs:element name="earlyTerminationFee" type="xs:string"/>
	<xs:element name="eBill" type="xs:boolean"/>
	<xs:element name="effectiveBeginDate" type="xs:date"/>
	<xs:element name="effectiveDate" type="xs:date"/>
	<xs:element name="effectiveEndDate" type="xs:date"/>
	<xs:element name="eftDueDate" type="xs:date"/>
	<xs:element name="eftFlag" type="xs:boolean"/>
	<xs:element name="eftTransDays" type="xs:long"/>
	<xs:element name="eligibilityFlag" type="xs:boolean"/>
	<xs:element name="emailAddress" type="xs:string"/>
	<xs:element name="emailLastChangeDate" type="xs:date"/>
	<xs:element name="endAirDateTime" type="xs:dateTime"/>
	<xs:element name="endDate" type="xs:date"/>
	<xs:element name="endDateTime" type="xs:dateTime"/>
	<xs:element name="endOfMonthBalance" type="xs:decimal"/>
	<xs:element name="endSuspensionDate" type="xs:date"/>
	<xs:element name="environment" type="xs:string"/>
	<xs:element name="episodeTitle" type="xs:string"/>
	<xs:element name="equipmentOwnership" type="xs:string"/>
	<xs:element name="escalationReason" type="xs:string"/>
	<xs:element name="estimatedArrivalInMinutes" type="xs:int"/>
	<xs:element name="estimatedTimeBetweenOrderAndInstallation" type="xs:string"/>
	<xs:element name="estimatedViewingOccupancy" type="xs:string"/>
	<xs:element name="eventCode" type="xs:long"/>
	<xs:element name="eventOrderDateTime" type="xs:dateTime"/>
	<xs:element name="eventPrefix" type="xs:string"/>
	<xs:element name="eventReason" type="xs:string"/>
	<xs:element name="eventRptBackDate" type="xs:date"/>
	<xs:element name="eventsAiredStatus" type="xs:string"/>
	<xs:element name="eventSource" type="xs:string"/>
	<xs:element name="eventStatusCriteria" type="xs:integer"/>
	<xs:element name="exchangeAllowedFlag" type="xs:boolean"/>
	<xs:element name="expirationDate" type="xs:date"/>
	<xs:element name="expirationDateTime" type="xs:dateTime"/>
	<xs:element name="extendCutoffDays" type="xs:long"/>
	<xs:element name="factActMessage" type="xs:string"/>
	<xs:element name="featureAndRestrictionDetails" type="xs:string"/>
	<xs:element name="federalTaxIdentification" type="xs:long"/>
	<xs:element name="feeCode" type="xs:long"/>
	<xs:element name="feePrefix" type="xs:string"/>
	<xs:element name="feeType" type="xs:string"/>
	<xs:element name="financialStatus" type="xs:string"/>
	<xs:element name="fipsCountyCode" type="xs:string"/>
	<xs:element name="fipsStateCode" type="xs:string"/>
	<xs:element name="fireCodeOccupancy" type="xs:string"/>
	<xs:element name="firstName" type="xs:string"/>
	<xs:element name="freezeOrderDate" type="xs:date"/>
	<xs:element name="frequency" type="xs:string"/>
	<xs:element name="frequencyOfCharge" type="xs:string"/>
	<xs:element name="fullName" type="xs:string"/>
	<xs:element name="futureOrbitalSlot" type="xs:long"/>
	<xs:element name="gender" type="xs:string"/>
	<xs:element name="genericMaterial" type="xs:string"/>
	<xs:element name="genericSatelliteId" type="xs:string"/>
	<xs:element name="genre" type="xs:string"/>
	<xs:element name="group" type="xs:string"/>
	<xs:element name="guarantee" type="xs:string"/>
	<xs:element name="hardwareFeeDetails" type="xs:string"/>
	<xs:element name="hardwareIdRequiredFlag" type="xs:boolean"/>
	<xs:element name="hardwareType" type="xs:string"/>
	<xs:element name="hasCableTVFlag" type="xs:boolean"/>
	<xs:element name="hasNFLFlag" type="xs:boolean"/>
	<xs:element name="hoursIncludedPerMonth" type="xs:string"/>
	<xs:element name="howOrdered" type="xs:string"/>
	<xs:element name="id" type="xs:string"/>
	<xs:element name="identificationData" type="xs:string"/>
	<xs:element name="identificationType" type="xs:string"/>
	<xs:element name="imageUrl" type="xs:string"/>
	<xs:element name="inflightTransactionState" type="xs:string"/>
	<xs:element name="inGuideFlag" type="xs:boolean"/>
	<xs:element name="initialActivationDate" type="xs:date"/>
	<xs:element name="initiativeDescription" type="xs:string"/>
	<xs:element name="initiativeId" type="xs:long"/>
	<xs:element name="inputContext" type="xs:string"/>
	<xs:element name="installationFee" type="xs:string"/>
	<xs:element name="installationReschedulableFlag" type="xs:boolean"/>
	<xs:element name="installationStatus" type="xs:string"/>
	<xs:element name="installationWindow" type="xs:string"/>
	<xs:element name="installedDate" type="xs:date"/>
	<xs:element name="installerId" type="xs:string"/>
	<xs:element name="introPrice" type="xs:string"/>
	<xs:element name="involuntaryRiskCode" type="xs:string"/>
	<xs:element name="ippvCallbackType" type="xs:string"/>
	<xs:element name="ippvFirstViewedDateTime" type="xs:dateTime"/>
	<xs:element name="ippvType" type="xs:string"/>
	<xs:element name="ippvViewedFlag" type="xs:boolean"/>
	<xs:element name="language" type="xs:string"/>
	<xs:element name="languageCode" type="xs:string"/>
	<xs:element name="lastBillAmount" type="xs:decimal"/>
	<xs:element name="lastBillDate" type="xs:date"/>
	<xs:element name="lastBillDueDate" type="xs:date"/>
	<xs:element name="lastBillPaymentDate" type="xs:date"/>
	<xs:element name="lastCallbackDate" type="xs:dateTime"/>
	<xs:element name="lastCallbackType" type="xs:string"/>
	<xs:element name="lastLoginDate" type="xs:date"/>
	<xs:element name="lastName" type="xs:string"/>
	<xs:element name="lastPaymentAmount" type="xs:decimal"/>
	<xs:element name="lastStatusChangeDate" type="xs:date"/>
	<xs:element name="lastUpdateDateTime" type="xs:dateTime"/>
	<xs:element name="latitude" type="xs:string"/>
	<xs:element name="latitudeDirection" type="xs:string"/>
	<xs:element name="leadCorporateId" type="xs:string"/>
	<xs:element name="leadCorporateName" type="xs:string"/>
	<xs:element name="legalTermsURL" type="xs:string"/>
	<xs:element name="lineItemId" type="xs:long"/>
	<xs:element name="localChannelMarketName" type="xs:string"/>
	<xs:element name="location" type="xs:string"/>
	<xs:element name="loginId" type="xs:string"/>
	<xs:element name="longDescription" type="xs:string"/>
	<xs:element name="longitude" type="xs:long"/>
	<xs:element name="longitudeDirection" type="xs:string"/>
	<xs:element name="lostDamaged" type="xs:string"/>
	<xs:element name="mailAddressFlag" type="xs:boolean"/>
	<xs:element name="mailDate" type="xs:date"/>
	<xs:element name="mailGroupCode" type="xs:string"/>
	<xs:element name="majorChannelNumber" type="xs:integer"/>
	<xs:element name="makePaymentsAutomaticallyFlag" type="xs:boolean"/>
	<xs:element name="manufacturer" type="xs:string"/>
	<xs:element name="marketingSourceCode"/>
	<xs:element name="marketingEvent"/>
	<xs:element name="marketingSourceDescription"/>
	<xs:element name="maximumBillCycleDays" type="xs:int"/>
	<xs:element name="maximumDownStreamConnectionSpeed" type="xs:string"/>
	<xs:element name="maximumUpStreamConnectionSpeed" type="xs:string"/>
	<xs:element name="maxSelection" type="xs:string"/>
	<xs:element name="mediaCenterDeviceType" type="xs:string"/>
	<xs:element name="mediaResponseFlag" type="xs:boolean"/>
	<xs:element name="mediaType" type="xs:string"/>
	<xs:element name="messageCategory" type="xs:string"/>
	<xs:element name="messageCode" type="xs:string"/>
	<xs:element name="messageDataState" type="xs:string"/>
	<xs:element name="messageSeverity" type="xs:string"/>
	<xs:element name="messageStatus" type="xs:string"/>
	<xs:element name="messageText" type="xs:string"/>
	<xs:element name="mfhWiringCode" type="xs:string"/>
	<xs:element name="middleInitial" type="xs:string"/>
	<xs:element name="minSelection" type="xs:string"/>
	<xs:element name="mirroredFlag" type="xs:boolean"/>
	<xs:element name="mirrorFeeFlag" type="xs:boolean"/>
	<xs:element name="miscTax" type="xs:decimal"/>
	<xs:element name="miscTaxCode" type="xs:string"/>
	<xs:element name="model" type="xs:string"/>
	<xs:element name="modemMACAddress" type="xs:string"/>
	<xs:element name="modemSerialNumber" type="xs:string"/>
	<xs:element name="modifyReason" type="xs:string"/>
	<xs:element name="month" type="xs:int"/>
	<xs:element name="monthlyFee" type="xs:string"/>
	<xs:element name="monthlyRecurring" type="xs:boolean"/>
	<xs:element name="monthsBetnBills" type="xs:long"/>
	<xs:element name="msaCode" type="xs:string"/>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="nationalPBSFeedBlackedOutFlag" type="xs:boolean"/>
	<xs:element name="newCardMsgDate" type="xs:date"/>
	<xs:element name="nextBillDate" type="xs:date"/>
	<xs:element name="nflSuperFanFlag" type="xs:boolean"/>
	<xs:element name="nonPaymentCode" type="xs:string"/>
	<xs:element name="noReturnFlag" type="xs:boolean"/>
	<xs:element name="numberOfBills" type="xs:long"/>
	<xs:element name="numberOfCardsInMailing" type="xs:int"/>
	<xs:element name="numberOfCharges" type="xs:int"/>
	<xs:element name="numberOfFloors" type="xs:int"/>
	<xs:element name="numberOfFreeEmailAccounts" type="xs:string"/>
	<xs:element name="numberOfOrders" type="xs:int"/>
	<xs:element name="numberOfUnits" type="xs:long"/>
	<xs:element name="offerDetailIdentifier" type="xs:long"/>
	<xs:element name="offerDurationType" type="xs:string"/>
	<xs:element name="offerId" type="xs:long"/>
	<xs:element name="offerType" type="xs:string"/>
	<xs:element name="omsLineItemId" type="xs:long"/>
	<xs:element name="omsOrderId" type="xs:long"/>
	<xs:element name="omsProductId" type="xs:long"/>
	<xs:element name="omsProductTypeId" type="xs:string"/>
	<xs:element name="oppvLimit" type="xs:decimal"/>
	<xs:element name="optInEligibilityFlag" type="xs:boolean"/>
	<xs:element name="optInOrderDate" type="xs:date"/>
	<xs:element name="optInOrderId" type="xs:long"/>
	<xs:element name="optionId" type="xs:string"/>
	<xs:element name="optionsPrice" type="xs:string"/>
	<xs:element name="orbitalSlot" type="xs:long"/>
	<xs:element name="orderableFlag" type="xs:boolean"/>
	<xs:element name="orderDate" type="xs:date"/>
	<xs:element name="orderId" type="xs:long"/>
	<xs:element name="orderLineItemID" type="xs:string"/>
	<xs:element name="orderLineItemSequenceNumber" type="xs:int"/>
	<xs:element name="orderNumber" type="xs:string"/>
	<xs:element name="orderQuantity" type="xs:double"/>
	<xs:element name="orderRequestedAction" type="xs:string"/>
	<xs:element name="orderSoldBy" type="xs:string"/>
	<xs:element name="orderStatusChangeDate" type="xs:date"/>
	<xs:element name="orderType" type="xs:string"/>
	<xs:element name="originalAirDateTime" type="xs:dateTime"/>
	<xs:element name="originatorCustomerId" type="xs:string"/>
	<xs:element name="originatorLineItemId" type="xs:string"/>
	<xs:element name="originatorOrderId" type="xs:string"/>
	<xs:element name="originatorOrderLineItemId" type="xs:string"/>
	<xs:element name="originatorSystem" type="xs:string"/>
	<xs:element name="otherFees" type="xs:string"/>
	<xs:element name="overrideAddressScrubFlag" type="xs:boolean"/>
	<xs:element name="overrideExistingRelationship" type="xs:boolean"/>
	<xs:element name="overrideProvisionByDateCheckFlag" type="xs:boolean"/>
	<xs:element name="overrideReason" type="xs:string"/>
	<xs:element name="ownedModelFlag" type="xs:boolean"/>
	<xs:element name="packageTrackingNumber" type="xs:string"/>
	<xs:element name="parentCSS" type="xs:string"/>
	<xs:element name="partnerSoldFlag" type="xs:boolean"/>
	<xs:element name="password" type="xs:string"/>
	<xs:element name="pastDueAmount" type="xs:decimal"/>
	<xs:element name="pastDueFlag" type="xs:boolean"/>
	<xs:element name="payFreeIndicator" type="xs:string"/>
	<xs:element name="paymentConfirmationNumber" type="xs:long"/>
	<xs:element name="paymentMessage" type="xs:string"/>
	<xs:element name="paymentMethodUsedFlag" type="xs:boolean"/>
	<xs:element name="paymentPriority" type="xs:long"/>
	<xs:element name="paymentProcessor" type="xs:string"/>
	<xs:element name="paymentType" type="xs:string"/>
	<xs:element name="payPerViewLimit" type="xs:decimal"/>
	<xs:element name="pendingAccessCardId" type="xs:string"/>
	<xs:element name="pendingBillCycleRequestDate" type="xs:date"/>
	<xs:element name="periodID" type="xs:long"/>
	<xs:element name="periodInDays" type="xs:int"/>
	<xs:element name="personalWebSpace" type="xs:string"/>
	<xs:element name="phoneAreaCode" type="xs:string"/>
	<xs:element name="phoneConnectionFlag" type="xs:boolean"/>
	<xs:element name="phoneExtension" type="xs:string"/>
	<xs:element name="phoneNumber" type="xs:string"/>
	<xs:element name="planDescription" type="xs:string"/>
	<xs:element name="postToAlternateAccountFlag" type="xs:boolean"/>
	<xs:element name="prefix" type="xs:string"/>
	<xs:element name="prepaidCardId" type="xs:string"/>
	<xs:element name="previousAddressOutOfCountryFlag" type="xs:boolean"/>
	<xs:element name="price" type="xs:double"/>
	<xs:element name="priceBeginDateTime" type="xs:dateTime"/>
	<xs:element name="priceCode" type="xs:long"/>
	<xs:element name="primaryOfferFlag" type="xs:boolean"/>
	<xs:element name="primaryOwner" type="xs:string"/>
	<xs:element name="priorAccessCardId" type="xs:string"/>
	<xs:element name="priorPeriodUnearned" type="xs:decimal"/>
	<xs:element name="privateNetworkApprovalCode" type="xs:int"/>
	<xs:element name="productClassification" type="xs:string"/>
	<xs:element name="productCode" type="xs:long"/>
	<xs:element name="productDescription" type="xs:string"/>
	<xs:element name="productEligibilityDate" type="xs:date"/>
	<xs:element name="productEligibilityFlag" type="xs:boolean"/>
	<xs:element name="productName" type="xs:string"/>
	<xs:element name="productPrefix" type="xs:string"/>
	<xs:element name="productReference" type="xs:string"/>
	<xs:element name="productSourceCode" type="xs:string"/>
	<xs:element name="productStatus" type="xs:string"/>
	<xs:element name="productType" type="xs:string"/>
	<xs:element name="programmingStatus" type="xs:string"/>
	<xs:element name="programReferenceId" type="xs:string"/>
	<xs:element name="programTitle" type="xs:string"/>
	<xs:element name="liveTapeDelay" type="xs:string"/>
	<xs:element name="advisory" type="xs:string"/>
	<xs:element name="tvAdvisory" type="xs:string"/>
	<xs:element name="subtitledFlag" type="xs:boolean"/>
	<xs:element name="letterboxFlag" type="xs:boolean"/>
	<xs:element name="closedCaptioningFlag" type="xs:boolean"/>
	<xs:element name="highDefinitionFlag" type="xs:boolean"/>
	<xs:element name="ac3AudioFlag" type="xs:boolean"/>
	<xs:element name="dolbySurroundSoundFlag" type="xs:boolean"/>
	<xs:element name="payPerViewFlag" type="xs:boolean"/>
	<xs:element name="allDayTicketFlag" type="xs:boolean"/>
	<xs:element name="descriptiveVideoServiceFlag" type="xs:boolean"/>
	<xs:element name="promotion" type="xs:string"/>
	<xs:element name="promotionCode" type="xs:string"/>
	<xs:element name="promotionMonths" type="xs:int"/>
	<xs:element name="propertyModel" type="xs:string"/>
	<xs:element name="propertyName" type="xs:string"/>
	<xs:element name="proprietarySegment" type="xs:string"/>
	<xs:element name="proprietorySegment" type="xs:string"/>
	<xs:element name="proratedAmount" type="xs:decimal"/>
	<xs:element name="proratedTax" type="xs:decimal"/>
	<xs:element name="prorateFlag" type="xs:boolean"/>
	<xs:element name="provideLastFourMonthsFlag" type="xs:boolean"/>
	<xs:element name="provideLastMonthFlag" type="xs:boolean"/>
	<xs:element name="provider" type="xs:string"/>
	<xs:element name="providerConfirmationNumber" type="xs:string"/>
	<xs:element name="providerDescription" type="xs:string"/>
	<xs:element name="providerId" type="xs:int"/>
	<xs:element name="providerImagePath" type="xs:string"/>
	<xs:element name="providerMarketingMsg1" type="xs:string"/>
	<xs:element name="providerMarketingMsg2" type="xs:string"/>
	<xs:element name="providerMarketingMsg3" type="xs:string"/>
	<xs:element name="providerName" type="xs:string"/>
	<xs:element name="providerOrderNumber" type="xs:string"/>
	<xs:element name="providerPhoneNumber" type="xs:string"/>
	<xs:element name="providerPriority" type="xs:int"/>
	<xs:element name="provisionByDate" type="xs:date"/>
	<xs:element name="provisionDate" type="xs:dateTime"/>
	<xs:element name="provisioningStatus" type="xs:string"/>
	<xs:element name="purchaseLimitPeriod" type="xs:string"/>
	<xs:element name="purchaseType" type="xs:string"/>
	<xs:element name="purchLimit" type="xs:decimal"/>
	<xs:element name="purchThreshold" type="xs:decimal"/>
	<xs:element name="quantity" type="xs:int"/>
	<xs:element name="quantityConfirmed" type="xs:int"/>
	<xs:element name="quantityOnBackOrder" type="xs:int"/>
	<xs:element name="queueOnCamcLinkDownFlag" type="xs:boolean"/>
	<xs:element name="queueWhenProvisionerDownFlag" type="xs:boolean"/>
	<xs:element name="ranking" type="xs:int"/>
	<xs:element name="rateCeiling" type="xs:string"/>
	<xs:element name="rating" type="xs:long"/>
	<xs:element name="ratingCode" type="xs:string"/>
	<xs:element name="ratingLevel" type="xs:string"/>
	<xs:element name="readyForProvisioningFlag" type="xs:boolean"/>
	<xs:element name="reasonCode" type="xs:long"/>
	<xs:element name="rebateAmount" type="xs:decimal"/>
	<xs:element name="rebateId" type="xs:string"/>
	<xs:element name="receivePromoCallsFlag" type="xs:boolean"/>
	<xs:element name="receivePromoEmailFlag" type="xs:boolean"/>
	<xs:element name="receivePromoEmailFromPartnersFlag" type="xs:boolean"/>
	<xs:element name="receivePromoPostalMailFlag" type="xs:boolean"/>
	<xs:element name="receiverId" type="xs:string"/>
	<xs:element name="receiverIdRequiredFlag" type="xs:boolean"/>
	<xs:element name="receiverStatus" type="xs:string"/>
	<xs:element name="recipientAccountId" type="xs:long"/>
	<xs:element name="recurringCreditAmount" type="xs:decimal"/>
	<xs:element name="recurringCreditCount" type="xs:int"/>
	<xs:element name="recurringCreditCreateDate" type="xs:date"/>
	<xs:element name="recurringCreditCreatedBy" type="xs:string"/>
	<xs:element name="recurringCreditDate" type="xs:date"/>
	<xs:element name="recurringCreditExpirationDate" type="xs:date"/>
	<xs:element name="recurringCreditLastIssueDate" type="xs:date"/>
	<xs:element name="recurringCreditLastIssuedBy" type="xs:string"/>
	<xs:element name="recurringCreditReasonCode" type="xs:long"/>
	<xs:element name="recurringAdjustmentReasonCode" type="xs:long"/>
	<xs:element name="recurringCreditReasonCodeDescription" type="xs:string"/>
	<xs:element name="transactionReasonCodeDescription" type="xs:string"/>
	<xs:element name="recurringCreditsIssued" type="xs:int"/>
	<xs:element name="recurringCreditStatus" type="xs:string"/>
	<xs:element name="recurringCreditType" type="xs:string"/>
	<xs:element name="referralProgram" type="xs:string"/>
	<xs:element name="refundableFlag" type="xs:boolean"/>
	<xs:element name="refundAmount" type="xs:decimal"/>
	<xs:element name="refundDescription" type="xs:string"/>
	<xs:element name="refundRequestDate" type="xs:date"/>
	<xs:element name="refundStatus" type="xs:string"/>
	<xs:element name="regionBitIndex" type="xs:int"/>
	<xs:element name="regionBits" type="xs:string"/>
	<xs:element name="registerNumber" type="xs:string"/>
	<xs:element name="registrationDate" type="xs:date"/>
	<xs:element name="reinstallDate" type="xs:date"/>
	<xs:element name="reinstateFlag" type="xs:boolean"/>
	<xs:element name="reinstateServicesAutomaticallyFlag" type="xs:boolean"/>
	<xs:element name="relationEndDate" type="xs:date"/>
	<xs:element name="relationStartDate" type="xs:date"/>
	<xs:element name="relevance" type="xs:integer"/>
	<xs:element name="remittanceCenterId" type="xs:long"/>
	<xs:element name="remittanceCenterReferenceId" type="xs:string"/>
	<xs:element name="remittanceCenterVersionNumber" type="xs:int"/>
	<xs:element name="renewCount" type="xs:long"/>
	<xs:element name="renewExpirationDate" type="xs:date"/>
	<xs:element name="renewStartDate" type="xs:date"/>
	<xs:element name="rentalDurationMinutes" type="xs:long"/>
	<xs:element name="rentalExpirationTimestamp" type="xs:dateTime"/>
	<xs:element name="replacementDate" type="xs:date"/>
	<xs:element name="replacementReason" type="xs:string"/>
	<xs:element name="reportedOnBillingStatement" type="xs:boolean"/>
	<xs:element name="representative" type="xs:string"/>
	<xs:element name="requestDateTime" type="xs:dateTime"/>
	<xs:element name="requestedBillingCycleDay" type="xs:int"/>
	<xs:element name="requestProvisioningFlag" type="xs:boolean"/>
	<xs:element name="requiredCreditCard" type="xs:boolean"/>
	<xs:element name="requireSignature" type="xs:boolean"/>
	<xs:element name="requiresRecurringBillingFlag" type="xs:boolean"/>
	<xs:element name="reshipFlag" type="xs:boolean"/>
	<xs:element name="responseAcknowledgedFlag" type="xs:boolean"/>
	<xs:element name="restrictedFlag" type="xs:boolean"/>
	<xs:element name="resultCode" type="xs:string"/>
	<xs:element name="resultMessage" type="xs:string"/>
	<xs:element name="retailerName" type="xs:string"/>
	<xs:element name="retailServiceCallFlag" type="xs:boolean"/>
	<xs:element name="retryAllowed" type="xs:boolean"/>
	<xs:element name="retryCount" type="xs:long"/>
	<xs:element name="returnToASCAllowedFlag" type="xs:boolean"/>
	<xs:element name="rmaNumber" type="xs:string"/>
	<xs:element name="rmaReturnLabelShipMethod" type="xs:string"/>
	<xs:element name="rmaType" type="xs:string"/>
	<xs:element name="roamingAccessDetails" type="xs:string"/>
	<xs:element name="salesAgentCreateDate" type="xs:date"/>
	<xs:element name="salesAgentId" type="xs:string"/>
	<xs:element name="salesAgentName" type="xs:string"/>
	<xs:element name="salesAgentStatus" type="xs:string"/>
	<xs:element name="salesDocumentNumber" type="xs:string"/>
	<xs:element name="sapLineItemId" type="xs:int"/>
	<xs:element name="satelliteAvailable" type="xs:boolean"/>
	<xs:element name="satelliteId" type="xs:string"/>
	<xs:element name="scheduledDateTime" type="xs:dateTime"/>
	<xs:element name="seasonalFlag" type="xs:boolean"/>
	<xs:element name="secondaryOwner" type="xs:string"/>
	<xs:element name="selectionTitle" type="xs:string"/>
	<xs:element name="sellNameToMailingListFlag" type="xs:boolean"/>
	<xs:element name="sequence" type="xs:int"/>
	<xs:element name="serialNumber" type="xs:string"/>
	<xs:element name="serviceCycleDay" type="xs:long"/>
	<xs:element name="servicedByDealerFlag" type="xs:boolean"/>
	<xs:element name="serviceDescription" type="xs:string"/>
	<xs:element name="serviceLength" type="xs:long"/>
	<xs:element name="serviceLevel" type="xs:int"/>
	<xs:element name="servicePrefix" type="xs:string"/>
	<xs:element name="serviceRequestId" type="xs:string"/>
	<xs:element name="servicerFlag" type="xs:boolean"/>
	<xs:element name="servicerId" type="xs:long"/>
	<xs:element name="servicerName" type="xs:string"/>
	<xs:element name="servicesSuspendedDate" type="xs:date"/>
	<xs:element name="serviceTax" type="xs:decimal"/>
	<xs:element name="serviceType" type="xs:string"/>
	<xs:element name="setupFee" type="xs:string"/>
	<xs:element name="severity" type="xs:string"/>
	<xs:element name="shipmentCarrier" type="xs:string"/>
	<xs:element name="shippingAmount" type="xs:double"/>
	<xs:element name="shippingStatus" type="xs:string"/>
	<xs:element name="shortDescription" type="xs:string"/>
	<xs:element name="signalStrengthIndicator" type="xs:string"/>
	<xs:element name="siteId" type="xs:string"/>
	<xs:element name="siteUserId" type="xs:string"/>
	<xs:element name="socialSecurityNumber" type="xs:string"/>
	<xs:element name="source" type="xs:string"/>
	<xs:element name="sourceSystemTransactionId" type="xs:string"/>
	<xs:element name="specialEventCode" type="xs:string"/>
	<xs:element name="startAirDateTime" type="xs:dateTime"/>
	<xs:element name="startDate" type="xs:date"/>
	<xs:element name="startDateTime" type="xs:dateTime"/>
	<xs:element name="state" type="xs:string"/>
	<xs:element name="statementDeliveryOption" type="xs:string"/>
	<xs:element name="statementNumber" type="xs:long"/>
	<xs:element name="stateTax" type="xs:decimal"/>
	<xs:element name="stateTaxCode" type="xs:string"/>
	<xs:element name="stateTaxIdentification" type="xs:string"/>
	<xs:element name="staticIpAddresses" type="xs:string"/>
	<xs:element name="status" type="xs:string"/>
	<xs:element name="storeNumber" type="xs:long"/>
	<xs:element name="streetName" type="xs:string"/>
	<xs:element name="streetNumber" type="xs:string"/>
	<xs:element name="stringAccountId" type="xs:string"/>
	<xs:element name="subjectLevel0" type="xs:long"/>
	<xs:element name="subjectLevel1" type="xs:long"/>
	<xs:element name="subjectLevel2" type="xs:long"/>
	<xs:element name="subjectLevel3" type="xs:long"/>
	<xs:element name="subjectLevel4" type="xs:long"/>
	<xs:element name="subscriberAccountIndicator" type="xs:long"/>
	<xs:element name="subTotalAmount" type="xs:long"/>
	<xs:element name="supportPhone" type="xs:string"/>
	<xs:element name="systemId" type="xs:string"/>
	<xs:element name="systemInstallDate" type="xs:date"/>
	<xs:element name="systemType" type="xs:string"/>
	<xs:element name="taping" type="xs:string"/>
	<xs:element name="targetId" type="xs:string"/>
	<xs:element name="taxAmount" type="xs:long"/>
	<xs:element name="taxCategory" type="xs:string"/>
	<xs:element name="technicalSupport" type="xs:string"/>
	<xs:element name="telcoNonpayStatus" type="xs:string"/>
	<xs:element name="termCommitment" type="xs:string"/>
	<xs:element name="terminateAgentFlag" type="xs:boolean"/>
	<xs:element name="territoryOwner" type="xs:string"/>
	<xs:element name="timezone" type="xs:string"/>
	<xs:element name="title" type="xs:string"/>
	<xs:element name="theatricalReleaseYear" type="xs:string"/>
	<xs:element name="totalAmount" type="xs:long"/>
	<xs:element name="totalNumberOfTargets" type="xs:int"/>
	<xs:element name="totalOrderCharges" type="xs:decimal"/>
	<xs:element name="totalOrderDiscounts" type="xs:decimal"/>
	<xs:element name="totalOrderFees" type="xs:decimal"/>
	<xs:element name="totalShippingCharges" type="xs:decimal"/>
	<xs:element name="totalTax" type="xs:decimal"/>
	<xs:element name="totalViewers" type="xs:long"/>
	<xs:element name="touchPointId" type="xs:string"/>
	<xs:element name="touchPointType" type="xs:string"/>
	<xs:element name="trackingId" type="xs:int"/>
	<xs:element name="transactionDateTime" type="xs:dateTime"/>
	<xs:element name="transactionFromDate" type="xs:date"/>
	<xs:element name="transactionReasonCode" type="xs:long"/>
	<xs:element name="transactionSequenceNumber" type="xs:long"/>
	<xs:element name="transactionState" type="xs:string"/>
	<xs:element name="transactionStatus" type="xs:string"/>
	<xs:element name="transactionTicketNumber" type="xs:string"/>
	<xs:element name="transactionToDate" type="xs:date"/>
	<xs:element name="transactionType" type="xs:string"/>
	<xs:element name="transactionTypeFilter" type="xs:long"/>
	<xs:element name="transceiverSerialNumber" type="xs:string"/>
	<xs:element name="tribuneMediaServicesId" type="xs:string"/>
	<xs:element name="triggerCommitmentFlag" type="xs:boolean"/>
	<xs:element name="underMinimumBillThreshold" type="xs:boolean"/>
	<xs:element name="sourceType" type="xs:string"/>
	<xs:element name="networkSyndicatorType" type="xs:string"/>
	<xs:element name="color" type="xs:string"/>
	<xs:element name="secondaryAudioSourceFlag" type="xs:boolean"/>
	<xs:element name="repeatFlag" type="xs:boolean"/>
	<xs:element name="premiereFinale" type="xs:string"/>
	<xs:element name="unitNumber" type="xs:string"/>
	<xs:element name="unitPrefix" type="xs:string"/>
	<xs:element name="updatedBillFlag" type="xs:boolean"/>
	<xs:element name="uploadSpeed" type="xs:string"/>
	<xs:element name="username" type="xs:string"/>
	<xs:element name="uuId" type="xs:string"/>
	<xs:element name="validEmailAddressFlag" type="xs:boolean"/>
	<xs:element name="value" type="xs:string"/>
	<xs:element name="valueId" type="xs:string"/>
	<xs:element name="vendor" type="xs:string"/>
	<xs:element name="verifyEFTFlag" type="xs:boolean"/>
	<xs:element name="version" type="xs:string"/>
	<xs:element name="vertexGeoCode" type="xs:long"/>
	<xs:element name="virtual" type="xs:string"/>
	<xs:element name="welcomeLetterCode" type="xs:string"/>
	<xs:element name="welcomeLetterNumber" type="xs:long"/>
	<xs:element name="window" type="xs:string"/>
	<xs:element name="workOrderId" type="xs:string"/>
	<xs:element name="workOrderInitiativeId" type="xs:string"/>
	<xs:element name="writeOffAmount" type="xs:decimal"/>
	<xs:element name="writeOffDate" type="xs:date"/>
	<xs:element name="xmlPromo" type="xs:string"/>
	<xs:element name="year" type="xs:int"/>
	<xs:element name="yearsAtCurrentAddress" type="xs:int"/>
	<xs:element name="zipCode" type="ent:ZipCodeEntity"/>
	<xs:element name="type" type="xs:string"/>
	<xs:element name="includeDetailsFlag" type="xs:boolean"/>
	<xs:element name="resubmitFlag" type="xs:boolean"/>
	<xs:element name="inFootprint" type="xs:string"/>
	<xs:element name="existingCustomer" type="xs:string"/>
	<xs:element name="smallLogo" type="xs:string"/>
	<xs:element name="largeLogo" type="xs:string"/>
	<xs:element name="url" type="xs:string"/>
	<xs:element name="displayFlag" type="xs:boolean"/>
	<xs:element name="broadbandOfferId" type="xs:string"/>
	<xs:element name="productHightlight" type="xs:string"/>
	<xs:element name="categorySubName" type="xs:string"/>
	<xs:element name="qualifiedHardware" type="xs:string"/>
	<xs:element name="customerRestriction" type="xs:string"/>
	<xs:element name="shortName" type="xs:string"/>
	<xs:element name="longName" type="xs:string"/>
	<xs:element name="mediumName" type="xs:string"/>
	<xs:element name="highlight" type="xs:string"/>
	<xs:element name="providerProductCode" type="xs:string"/>
	<xs:element name="shortHighlight1" type="xs:string"/>
	<xs:element name="shortHighlight2" type="xs:string"/>
	<xs:element name="featureSummaryShort" type="xs:string"/>
	<xs:element name="benefitStatementShort" type="xs:string"/>
	<xs:element name="benefitStatementLong" type="xs:string"/>
	<xs:element name="disclaimer" type="xs:string"/>
	<xs:element name="termsAndConditions" type="xs:string"/>
	<xs:element name="priceClassification" type="xs:string"/>
	<xs:element name="amountSpecifiedFlag" type="xs:boolean"/>
	<xs:element name="priceType" type="xs:string"/>
	<xs:element name="customizableFlag" type="xs:boolean"/>
	<xs:element name="recurringFlag" type="xs:boolean"/>
	<xs:element name="recurringInterval" type="xs:string"/>
	<xs:element name="label" type="xs:string"/>
	<xs:element name="primaryPromotionFlag" type="xs:boolean"/>
	<xs:element name="broadbandPromotionId" type="xs:string"/>
	<xs:element name="promotionType" type="xs:string"/>
	<xs:element name="primaryBonusFlag" type="xs:boolean"/>
	<xs:element name="broadbandBonusId" type="xs:string"/>
	<xs:element name="bonusType" type="xs:string"/>
	<xs:element name="timeBetweenOrderAndInstall" type="xs:string"/>
	<xs:element name="billingOptions" type="xs:string"/>
	<xs:element name="technicalRequirements" type="xs:string"/>
	<xs:element name="dialUpAccessFlag" type="xs:boolean"/>
	<xs:element name="summary" type="xs:string"/>
	<xs:element name="broadbandLongDescription" type="xs:string"/>
	<xs:element name="broadbandShortDescription" type="xs:string"/>
	<xs:element name="broadbandFeatureClassification" type="xs:string"/>
	<xs:element name="addressId" type="xs:string"/>
	<xs:element name="groupedFlag" type="xs:boolean"/>
	<xs:element name="selectedFlag" type="xs:boolean"/>
	<xs:element name="maximumLength" type="xs:int"/>
	<xs:element name="requiredFlag" type="xs:boolean"/>
	<xs:element name="broadbandCustomizationId" type="xs:string"/>
	<xs:element name="broadbandDependentCustomizationId" type="xs:string"/>
	<xs:element name="broadbandChoiceId" type="xs:string"/>
	<xs:element name="broadbandDependentChoiceId" type="xs:string"/>
	<xs:element name="broadbandDefaultChoiceValue" type="xs:string"/>
	<xs:element name="broadbandChoiceValue" type="xs:string"/>
	<xs:element name="broadbandDescription" type="xs:string"/>
	<xs:element name="broadbandValidationRule" type="xs:string"/>
	<xs:element name="broadbandValidationMessage" type="xs:string"/>
	<xs:element name="broadbandComparisonValue" type="xs:string"/>
	<xs:element name="broadbandComparisonMessage" type="xs:string"/>
	<xs:element name="minimumChoice" type="xs:int"/>
	<xs:element name="maximumChoice" type="xs:int"/>
	<xs:element name="groupName" type="xs:string"/>
	<xs:element name="broadbandCustomizationCategory" type="xs:string"/>
	<xs:element name="broadbandInstallWindowId" type="xs:string"/>
	<xs:element name="broadbandInstallDate" type="xs:dateTime"/>
	<xs:element name="broadbandOrderRequirement" type="xs:string"/>
	<xs:element name="addressType" type="xs:string"/>
	<xs:element name="phoneType" type="xs:string"/>
	<xs:element name="voiceType" type="xs:string"/>
	<xs:element name="voiceTypeSpecifiedFlag" type="xs:boolean"/>
	<xs:element name="regionId" type="xs:string"/>
	<xs:element name="lastUpdateUser" type="xs:string"/>
	<xs:element name="activityId" type="xs:string"/>
	<xs:element name="activityStatus" type="xs:string"/>
	<xs:element name="combineDurationFlag" type="xs:boolean"/>
	<xs:element name="activationApprovedFlag" type="xs:boolean"/>
	<xs:element name="scheduleStartDateTime" type="xs:dateTime"/>
	<xs:element name="scheduleEndDateTime" type="xs:dateTime"/>
	<xs:element name="scheduleNote" type="xs:string"/>
	<xs:element name="installWindowConfirmationCode" type="xs:string"/>
	<xs:element name="followUpMessage" type="xs:string"/>
	<xs:element name="relationship" type="xs:string"/>
	<xs:element name="dormitoryFlag" type="xs:boolean"/>
	<xs:element name="fraternityFlag" type="xs:boolean"/>
	<xs:element name="sororityFlag" type="xs:boolean"/>
	<xs:element name="houseName" type="xs:string"/>
	<xs:element name="roomName" type="xs:string"/>
	<xs:element name="salary" type="xs:decimal"/>
	<xs:element name="wagesGarnishedFlag" type="xs:boolean"/>
	<xs:element name="sourceOfIncome" type="xs:string"/>
	<xs:element name="monthsIncomeReceived" type="xs:int"/>
	<xs:element name="yearsIncomeReceived" type="xs:int"/>
	<xs:element name="bankName" type="xs:string"/>
	<xs:element name="bankAccountOwner" type="xs:string"/>
	<xs:element name="bankruptFlag" type="xs:boolean"/>
	<xs:element name="driversLicenseNumber" type="xs:string"/>
	<xs:element name="driversLicenseState" type="xs:string"/>
	<xs:element name="emailAddressType" type="xs:string"/>
	<xs:element name="creditCardAction" type="xs:string"/>
	<xs:element name="finalApprovalCode" type="xs:string"/>
	<xs:element name="finalReferenceNumber" type="xs:string"/>
	<xs:element name="authorizationApprovalCode" type="xs:string"/>
	<xs:element name="authorizationReferenceNumber" type="xs:string"/>
	<xs:element name="employedFlag" type="xs:boolean"/>
	<xs:element name="employerName" type="xs:string"/>
	<xs:element name="occupation" type="xs:string"/>
	<xs:element name="homeRenterFlag" type="xs:boolean"/>
	<xs:element name="homeOwnerFlag" type="xs:boolean"/>
	<xs:element name="fullTimeStudentFlag" type="xs:boolean"/>
	<xs:element name="broadbandConfirmationId" type="xs:string"/>
	<xs:element name="confirmationMessage" type="xs:string"/>
	<xs:element name="trackingCode" type="xs:string"/>
	<xs:element name="providerConfirmationCode" type="xs:string"/>
	<xs:element name="broadbandOrderId" type="xs:string"/>
	<xs:element name="newCustomerFlag" type="xs:boolean"/>
	<xs:element name="optOutFlag" type="xs:boolean"/>
	<xs:element name="broadbandPromotionCode" type="xs:string"/>
	<xs:element name="contactInstructions" type="xs:string"/>
	<xs:element name="employmentType" type="xs:string"/>
	<xs:element name="prescreenId" type="xs:string"/>
	<xs:element name="decisionStatus" type="xs:string"/>
	<xs:element name="termAcceptanceCode" type="xs:string"/>
	<xs:element name="waiverCode" type="xs:int"/>
	<xs:element name="tier" type="xs:int"/>
	<xs:element name="nextCreditDate" type="xs:date"/>
	<xs:element name="lastCreditRejectionDate" type="xs:date"/>
	<xs:element name="creditRejectionDate" type="xs:date"/>
	<xs:element name="totalCreditsRejected" type="xs:int"/>
	<xs:element name="totalCreditsRemaining" type="xs:int"/>
	<xs:element name="creditCardAlreadyAuthorizedFlag" type="xs:boolean"/>
	<xs:element name="cVVPresenceIndicator" type="xs:string"/>
	<xs:element name="cVVReturnCode" type="xs:string"/>
	<xs:element name="onFileCreditCardNumber" type="xs:string"/>
	<xs:element name="onFileEFTAccountNumber" type="xs:string"/>
	<xs:element name="debitCardDueDate" type="xs:date"/>
	<xs:element name="suppressAllEmailFlag" type="xs:boolean"/>
	<xs:element name="refusedEmailFlag" type="xs:boolean"/>
	<xs:element name="suppressPromoEmailFlag" type="xs:boolean"/>
	<xs:element name="activeFlag" type="xs:boolean"/>
	<xs:element name="differentiatedOfferFlag" type="xs:boolean"/>
	<xs:element name="adjustmentDueDate" type="xs:date"/>
	<xs:element name="transactionAmount" type="xs:decimal"/>
	<xs:element name="maximumCreditsToBeIssued" type="xs:int"/>
	<xs:element name="lastPriceCode" type="xs:long"/>
	<xs:element name="lastPriceBeginDate" type="xs:date"/>
	<xs:element name="lastPeriodFromDate" type="xs:date"/>
	<xs:element name="lastPeriodToDate" type="xs:date"/>
	<xs:element name="createDate" type="xs:date"/>
	<xs:element name="createdBy" type="xs:string"/>
	<xs:element name="requestType" type="xs:string"/>
	<xs:element name="hdFlag" type="xs:boolean"/>
	<xs:element name="elementId" type="xs:string"/>
	<xs:element name="reasonCodeDescription" type="xs:string"/>
	<xs:element name="count" type="xs:integer"/>
	<xs:element name="scheduleId" type="xs:string"/>
	<xs:element name="nonLinearTitleId" type="xs:string"/>
	<xs:element name="credits" type="xs:string"/>
	<xs:element name="score" type="xs:decimal"/>
	<xs:element name="contentType" type="xs:string"/>
	<xs:element name="controlType" type="xs:string"/>
	<xs:element name="listTypeDescription" type="xs:string"/>
	<xs:element name="serviceCycleFlag" type="xs:boolean"/>
	<xs:element name="lastIssueDate" type="xs:date"/>
	<xs:element name="lastIssuedBy" type="xs:string"/>
	<xs:element name="keyNameReferenceId" type="xs:string"/>
	<xs:element name="encryptedCreditCardNumber" type="xs:string"/>
	<xs:element name="sameAsServiceAddressFlag" type="xs:boolean"/>
	<xs:element name="creditBand" type="xs:int"/>
	<xs:element name="affiliateCallSign" type="xs:string"/>
	<xs:element name="network" type="xs:string"/>
	<xs:element name="broadcastFormat" type="xs:string"/>
	<xs:element name="localChannel" type="xs:string"/>
	<xs:element name="irdChannel" type="xs:string"/>
	<xs:element name="rsnName" type="xs:string"/>
	<xs:element name="minimumZipCode" type="xs:string"/>
	<xs:element name="maximumZipCode" type="xs:string"/>
	<xs:element name="regionValue" type="xs:string"/>
	<xs:element name="dmaName" type="xs:string"/>
	<xs:element name="masterServiceOperatorFlag" type="xs:boolean"/>
	<xs:element name="corporateStatus" type="xs:string"/>
	<xs:element name="dealerStatus" type="xs:string"/>
	<xs:element name="regionName" type="xs:string"/>
	<xs:element name="keyName" type="xs:string"/>
	<xs:element name="clearText" type="xs:string"/>
	<xs:element name="cipherText" type="xs:string"/>
	<xs:element name="displayValue" type="xs:string"/>
	<xs:element name="fieldName" type="xs:string"/>
	<xs:element name="ownerId" type="xs:string"/>
	<xs:element name="serviceName" type="xs:string"/>
	<xs:element name="camcChannelId" type="xs:long"/>
	<xs:element name="telcoMaintenanceAuditId" type="xs:string"/>
	<xs:element name="obligationId" type="xs:long"/>
	<xs:element name="careCode" type="xs:string"/>
	<xs:element name="partnerTransactionReference" type="xs:string"/>
	<xs:element name="partnerReferenceId" type="xs:string"/>
	<xs:element name="partitionId" type="xs:long"/>
	<xs:element name="subPartitionId" type="xs:long"/>
	<xs:element name="telcoDomainId" type="xs:long"/>
	<xs:element name="requestedActionCode" type="xs:string"/>
	<xs:element name="newActionCode" type="xs:string"/>
	<xs:element name="previousActionCode" type="xs:string"/>
	<xs:element name="modifiedDateTime" type="xs:dateTime"/>
	<xs:element name="modifiedBy" type="xs:string"/>
	<xs:element name="createdDateTime" type="xs:dateTime"/>
	<xs:element name="telcoJurisdiction" type="xs:string"/>
	<xs:element name="telcoSoldFlag" type="xs:string"/>
	<xs:element name="signature" type="xs:string"/>
	<xs:element name="camcSubscriberId" type="xs:long"/>
	<xs:element name="callbackDateTime" type="xs:dateTime"/>
	<xs:element name="irdId" type="xs:string"/>
	<xs:element name="irdVersionNumber" type="xs:int"/>
	<xs:element name="verifierVersionNumber" type="xs:int"/>
	<xs:element name="ippvCount" type="xs:int"/>
	<xs:element name="ippvNumber" type="xs:long"/>
	<xs:element name="tapingPermittedFlag" type="xs:boolean"/>
	<xs:element name="ippvNonViewableFlag" type="xs:boolean"/>
	<xs:element name="specialEventFlag" type="xs:boolean"/>
	<xs:element name="canceledFlag" type="xs:boolean"/>
	<xs:element name="ippvPrice" type="xs:decimal"/>
	<xs:element name="multiPartEventFlag" type="xs:boolean"/>
	<xs:element name="broadcastDate" type="xs:date"/>
	<xs:element name="callbackUponPurchaseFlag" type="xs:boolean"/>
	<xs:element name="immediateCallbackFlag" type="xs:boolean"/>
	<xs:element name="ippvExtensionFlag" type="xs:boolean"/>
	<xs:element name="extendableRentalFlag" type="xs:boolean"/>
	<xs:element name="entitlementExpirationDateTime" type="xs:dateTime"/>
	<xs:element name="rentalDuration" type="xs:string"/>
	<xs:element name="maximumExpirationDate" type="xs:date"/>
	<xs:element name="purchaseDateTime" type="xs:dateTime"/>
	<xs:element name="purchaseBalance" type="xs:decimal"/>
	<xs:element name="chainingCompleteFlag" type="xs:boolean"/>
	<xs:element name="sendData" type="xs:string"/>
	<xs:element name="newAccessCardId" type="xs:string"/>
	<xs:element name="oldAccessCardId" type="xs:string"/>
	<xs:element name="messageReceiveDate" type="xs:date"/>
	<xs:element name="personalRegionBits" type="xs:string"/>
	<xs:element name="callbackAvailability" type="xs:string"/>
	<xs:element name="callbackTime" type="xs:string"/>
	<xs:element name="privateNetwork" type="xs:int"/>
	<xs:element name="cableIndicatorFlag" type="xs:boolean"/>
	<xs:element name="nonPayFlag" type="xs:boolean"/>
	<xs:element name="authorizedByOldCardChainingFlag" type="xs:boolean"/>
	<xs:element name="authorizedByNewCardOverAirFlag" type="xs:boolean"/>
	<xs:element name="authorizeHardClosedSubscriberFlag" type="xs:boolean"/>
	<xs:element name="windowOfReversibilityClosedFlag" type="xs:boolean"/>
	<xs:element name="birthNotificationFlag" type="xs:boolean"/>
	<xs:element name="timeZone" type="xs:string"/>
	<xs:element name="oldTimeZone" type="xs:string"/>
	<xs:element name="localsAvailabilityFlag" type="xs:boolean"/>
	<xs:element name="dealerAccountType" type="xs:string"/>
	<xs:element name="propertyDealerId" type="xs:long"/>
	<xs:element name="propertyDealerType" type="xs:string"/>
	<xs:element name="partnerEmployeeFlag" type="xs:boolean"/>
	<xs:element name="migrationType" type="xs:string"/>
	<xs:element name="attributeName" type="xs:string"/>
	<xs:element name="attributeCode" type="xs:string"/>
	<xs:element name="hardwareName" type="xs:string"/>
	<xs:element name="hardwareId" type="xs:int"/>
	<xs:element name="ivTestContext" type="xs:string"/>
	<xs:element name="partnerName" type="xs:string"/>
	<xs:element name="waiverCodeBitmap" type="xs:int"/>
	<xs:element name="hardwareIdBitmap" type="xs:int"/>
	<xs:element name="tenureEligibilityFlag" type="xs:boolean"/>
	<xs:element name="serviceEligibilityFlag" type="xs:boolean"/>
	<xs:element name="balanceThresholdEligibilityFlag" type="xs:boolean"/>
	<xs:element name="discountThresholdEligibilityFlag" type="xs:boolean"/>
	<xs:element name="alreadyJointBilledFlag" type="xs:boolean"/>
	<xs:element name="partnerRelationship" type="xs:string"/>
	<xs:element name="diagnosticsType" type="xs:string"/>
	<xs:element name="salesChannelIndicator" type="xs:string"/>
	<xs:element name="salesAgentLocation" type="xs:string"/>
	<xs:element name="nonBrandedQualification" type="xs:string"/>
	<xs:element name="averageMonthlyBill" type="xs:decimal"/>
	<xs:element name="marketingHighlight" type="xs:string"/>
	<xs:element name="feature" type="xs:string"/>
	<xs:element name="regionalProviderName" type="xs:string"/>
	<xs:element name="restrictedPropertyFlag" type="xs:string"/>
	<xs:element name="exclusivePropertyFlag" type="xs:string"/>
	<xs:element name="operatorId" type="xs:string"/>
	<xs:element name="operatorName" type="xs:string"/>
	<xs:element name="primaryCompetitor" type="xs:string"/>
	<xs:element name="bmuAccountId" type="xs:long"/>
	<xs:element name="successCodeSeed" type="xs:int"/>
	<xs:element name="removeDiscountFlag" type="xs:boolean"/>
	<xs:element name="appliedBeginDate" type="xs:date"/>
	<xs:element name="appliedEndDate" type="xs:date"/>
	<xs:element name="lockBeginDate" type="xs:date"/>
	<xs:element name="lockEndDate" type="xs:date"/>
	<xs:element name="lockOverrideFlag" type="xs:boolean"/>
	<xs:element name="alert" type="xs:string"/>
	<xs:element name="alertId" type="xs:string"/>
	<xs:element name="alertStatus" type="xs:string"/>
	<xs:element name="alertType" type="xs:string"/>
	<xs:element name="alertValidFrom" type="xs:dateTime"/>
	<xs:element name="alertValidDuration" type="xs:int"/>
	<xs:element name="thresholdExceeded" type="xs:string"/>
	<xs:element name="thresholdConfigured" type="xs:string"/>
	<xs:element name="channelExceeded" type="xs:string"/>
	<xs:element name="slaStateEngine" type="xs:string"/>
	<xs:element name="titleId" type="xs:string"/>
	<xs:element name="channelId" type="xs:int"/>
	<xs:element name="seriesFlag" type="xs:boolean"/>
	<xs:element name="keepUntilDeleteFlag" type="xs:boolean"/>
	<xs:element name="recordingId" type="xs:string"/>
	<xs:element name="hdEligibilityFlag" type="xs:boolean"/>
	<xs:element name="recordingEligibilityFlag" type="xs:boolean"/>
	<xs:element name="pushEligibilityFlag" type="xs:boolean"/>
	<xs:element name="carouselEligibilityFlag" type="xs:boolean"/>
	<xs:element name="ineligibilityReason" type="xs:string"/>
	<xs:element name="ineligibilityDescription" type="xs:string"/>
	<xs:element name="viewDateTime" type="xs:dateTime"/>
	<xs:element name="mirrorCapableFlag" type="xs:boolean"/>
	<xs:element name="blackoutRegionFlag" type="xs:boolean"/>
	<xs:element name="eventBeginDateTime" type="xs:dateTime"/>
	<xs:element name="eventEndDateTime" type="xs:dateTime"/>
	<xs:element name="tapingAuthorizationCode" type="xs:string"/>
	<xs:element name="trafficProgramId" type="xs:string"/>
	<xs:element name="signatureKey" type="xs:string"/>
	<xs:element name="vodEligibilityFlag" type="xs:boolean"/>
	<xs:element name="tmsId" type="xs:string"/>
	<xs:element name="format" type="xs:string"/>
	<xs:element name="agreementStatus" type="xs:string"/>
	<xs:element name="numberOfEnrollments" type="xs:int"/>
	<xs:element name="agreementPriceCode" type="xs:long"/>
	<xs:element name="nonComplianceReason" type="xs:string"/>
	<xs:element name="businessSegment" type="xs:string"/>
	<xs:element name="treatmentCode" type="xs:string"/>
	<xs:element name="treatmentMessage" type="xs:string"/>
	<xs:element name="systemOperatorName" type="xs:string"/>
	<xs:element name="systemOperatorPhone" type="xs:string"/>
	<xs:element name="dealerType" type="xs:string"/>
	<xs:element name="corporateIdGroup" type="xs:string"/>
	<xs:element name="salesChannel" type="xs:string"/>
	<xs:element name="numberOfCreditsCancelled" type="xs:int"/>
	<xs:element name="agreementCreditAmountLost" type="xs:decimal"/>
	<xs:element name="totalAgreementCreditAmountLost" type="xs:decimal"/>
	<xs:element name="numberOfCreditsAdded" type="xs:int"/>
	<xs:element name="agreementCreditAmountAdded" type="xs:decimal"/>
	<xs:element name="totalAgreementCreditAmountAdded" type="xs:decimal"/>
	<xs:element name="penaltyFeeAmount" type="xs:decimal"/>
	<xs:element name="serverURL" type="xs:string"/>
	<xs:element name="sessionId" type="xs:string"/>
	<xs:element name="numberOfRecords" type="xs:int"/>
	<xs:element name="escalationType" type="xs:string"/>
	<xs:element name="macAddress" type="xs:string"/>
	<xs:element name="friendlyName" type="xs:string"/>
	<xs:element name="osSoftwareVersion" type="xs:string"/>
	<xs:element name="relationshipId" type="xs:string"/>
	<xs:element name="memberId" type="xs:string"/>
	<xs:element name="partialAuthorizationOrderId" type="xs:long"/>
	<xs:element name="partialAuthorizationResponseFlag" type="xs:boolean"/>
	<xs:element name="partialAuthorizationAmount" type="xs:decimal"/>
	<xs:element name="statusDateTime" type="xs:dateTime"/>
	<xs:element name="leadId" type="xs:string"/>
	<xs:element name="leadStatus" type="xs:string"/>
	<xs:element name="agentId" type="xs:string"/>
	<xs:element name="applyFeeFlag" type="xs:boolean"/>
	<xs:element name="signatureRequiredFlag" type="xs:boolean"/>
	<xs:element name="distributionMethod" type="xs:string"/>
	<xs:element name="useAlternateAddressFlag" type="xs:boolean"/>
	<xs:element name="ignorePreviousCardOrdersFlag" type="xs:boolean"/>
	<xs:element name="validAccessCardFlag" type="xs:boolean"/>
	<xs:element name="winbackCustomerFlag" type="xs:boolean"/>
	<xs:element name="newCustomerLowBalanceFlag" type="xs:boolean"/>
	<xs:element name="newCustomerHighBalanceFlag" type="xs:boolean"/>
	<xs:element name="marketingSegmentTrack" type="xs:string"/>
	<xs:element name="listType" type="xs:string"/>
	<xs:element name="categoryType" type="xs:string"/>
	<xs:element name="productId" type="xs:string"/>
	<xs:element name="userPositionType" type="xs:string"/>
	<xs:element name="friendsAndFamily" type="xs:boolean"/>
	<xs:element name="assetId" type="xs:string"/>
	<xs:element name="dataSource" type="xs:string"/>
	<xs:element name="effectiveEndDateTime" type="xs:dateTime"/>
	<xs:element name="installDateTime" type="xs:dateTime"/>
	<xs:element name="installVerifyFlag" type="xs:string"/>
	<xs:element name="serialNumberGeneric" type="xs:string"/>
	<xs:element name="campaignId" type="xs:string"/>
	<xs:element name="installStatus" type="xs:string"/>
	<xs:element name="cardHolderName" type="xs:string"/>
	<xs:element name="priceBeginDate" type="xs:date"/>
	<xs:element name="programmingPrice" type="xs:decimal"/>
	<xs:element name="basePriceTaxAmount" type="xs:decimal"/>
	<xs:element name="offerIdentification" type="xs:string"/>
	<xs:element name="parentOfferId" type="xs:string"/>
	<xs:element name="productKey" type="xs:string"/>
	<xs:element name="optionKeyType" type="xs:string"/>
	<xs:element name="optionKey" type="xs:string"/>
	<xs:element name="currentRemove" type="xs:boolean"/>
	<xs:element name="currentPick" type="xs:boolean"/>
	<xs:element name="agreementStatusEffectiveDate" type="xs:date"/>
	<xs:element name="operation" type="xs:string"/>
	<xs:element name="campaignStatus" type="xs:string"/>
	<xs:element name="sfdcId" type="xs:string"/>
	<xs:element name="campaignName" type="xs:string"/>
	<xs:element name="agentOfferScripting" type="xs:string"/>
	<xs:element name="customerReferralDNISIndicator" type="xs:string"/>
	<xs:element name="defaultOfferVariable" type="xs:string"/>
	<xs:element name="directSalesOMSDNISNumPath" type="xs:string"/>
	<xs:element name="dorisURL" type="xs:string"/>
	<xs:element name="emailAddressIndicatorFlag" type="xs:boolean"/>
	<xs:element name="secondKeycodeName" type="xs:string"/>
	<xs:element name="secondKeycodeRequestedFlag" type="xs:boolean"/>
	<xs:element name="secondKeycodeRequiredFlag" type="xs:boolean"/>
	<xs:element name="thirdKeycodeName" type="xs:string"/>
	<xs:element name="thirdKeycodeRequestedFlag" type="xs:boolean"/>
	<xs:element name="thirdKeycodeRequiredFlag" type="xs:boolean"/>
	<xs:element name="keycodeAttemptLimit" type="xs:double"/>
	<xs:element name="keycodeDriver" type="xs:string"/>
	<xs:element name="keycodeIndicator" type="xs:string"/>
	<xs:element name="keycodeName" type="xs:string"/>
	<xs:element name="keycodeRequiredFlag" type="xs:boolean"/>
	<xs:element name="keycode" type="xs:string"/>
	<xs:element name="keycodes" type="xs:string"/>
	<xs:element name="keycodeStopType" type="xs:string"/>
	<xs:element name="keycodeValidationTarget" type="xs:string"/>
	<xs:element name="mcfScript" type="xs:string"/>
	<xs:element name="marketingMaterialURL" type="xs:string"/>
	<xs:element name="tollFreeNumber" type="xs:string"/>
	<xs:element name="programEndDate" type="xs:date"/>
	<xs:element name="programStartDate" type="xs:date"/>
	<xs:element name="presentation" type="xs:string"/>
	<xs:element name="question" type="xs:string"/>
	<xs:element name="surveyType" type="xs:string"/>
	<xs:element name="surveyId" type="xs:string"/>
	<xs:element name="assetType" type="xs:string"/>
	<xs:element name="transferFromId" type="xs:string"/>
	<xs:element name="transferDateTime" type="xs:dateTime"/>
	<xs:element name="operatingSystem" type="xs:string"/>
	<xs:element name="evaluationReason" type="xs:string"/>
	<xs:element name="nonComplianceReasonCode" type="xs:string"/>
	<xs:element name="visitId" type="xs:long"/>
	<xs:element name="immediateSubmissionFlag" type="xs:boolean"/>
	<xs:element name="verticalId" type="xs:int"/>
	<xs:element name="verticalName" type="xs:string"/>
	<xs:element name="categoryId" type="xs:long"/>
	<xs:element name="rank" type="xs:int"/>
	<xs:element name="dataType" type="xs:string"/>
	<xs:element name="productDetailHash" type="xs:string"/>
	<xs:element name="pricePeriodTypeId" type="xs:int"/>
	<xs:element name="pricePeriodType" type="xs:string"/>
	<xs:element name="initialAmount" type="xs:decimal"/>
	<xs:element name="initialAmountLengthMonths" type="xs:int"/>
	<xs:element name="regularAmount" type="xs:decimal"/>
	<xs:element name="termLengthMonths" type="xs:int"/>
	<xs:element name="questionType" type="xs:string"/>
	<xs:element name="customizationId" type="xs:string"/>
	<xs:element name="helpText" type="xs:string"/>
	<xs:element name="helpTitle" type="xs:string"/>
	<xs:element name="helpType" type="xs:string"/>
	<xs:element name="maximumNumericValue" type="xs:int"/>
	<xs:element name="maximumSelectionCount" type="xs:int"/>
	<xs:element name="maximumTextLength" type="xs:int"/>
	<xs:element name="minimumNumericValue" type="xs:int"/>
	<xs:element name="minimumSelectionCount" type="xs:int"/>
	<xs:element name="lengthValidationFlag" type="xs:boolean"/>
	<xs:element name="rangeValidationFlag" type="xs:boolean"/>
	<xs:element name="regularExpressionValidationFlag" type="xs:boolean"/>
	<xs:element name="selectionCountValidationFlag" type="xs:boolean"/>
	<xs:element name="sensitiveFlag" type="xs:boolean"/>
	<xs:element name="regularExpression" type="xs:string"/>
	<xs:element name="textValue" type="xs:string"/>
	<xs:element name="validationErrorText" type="xs:string"/>
	<xs:element name="warningText" type="xs:string"/>
	<xs:element name="zeroText" type="xs:string"/>
	<xs:element name="featureText" type="xs:string"/>
	<xs:element name="instructionText" type="xs:string"/>
	<xs:element name="groupTitle" type="xs:string"/>
	<xs:element name="invoiceAmountTotal" type="xs:decimal"/>
	<xs:element name="invoiceMonthlyAmountTotal" type="xs:decimal"/>
	<xs:element name="invoiceOneTimeAmountTotal" type="xs:decimal"/>
	<xs:element name="confirmationNumberFormatted" type="xs:string"/>
	<xs:element name="providerTransactionId" type="xs:string"/>
	<xs:element name="displayCategoryName" type="xs:string"/>
	<xs:element name="additionalReceiversExistFlag" type="xs:boolean"/>
	<xs:element name="previousAccessCardNumber" type="xs:string"/>
	<xs:element name="accessCardStatusDate" type="xs:date"/>
	<xs:element name="referralAccountId" type="xs:long"/>
	<xs:element name="validFlag" type="xs:boolean"/>
	<xs:element name="newPrimaryAccessCardId" type="xs:string"/>
	<xs:element name="customizationsCompletedFlag" type="xs:boolean"/>
	<xs:element name="creditCardRequiredFlag" type="xs:boolean"/>
	<xs:element name="reinstateableFlag" type="xs:boolean"/>
	<xs:element name="adultContentRestrictionFlag" type="xs:boolean"/>
	<xs:element name="billingAccountNumber" type="xs:string"/>
	<xs:element name="accessCardNumber" type="xs:string"/>
	<xs:element name="warrantyStartDate" type="xs:date"/>
	<xs:element name="overrideAction" type="xs:string"/>
	<xs:element name="promotionalPrice" type="xs:double"/>
	<xs:element name="offerRequirement" type="xs:string"/>
</xs:schema>
