src/main/resources/wsdl/entities/v3.0/CoreTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 U (http://www.xmlspy.com) by s (k) -->
<!--
 * Subversion demo
 * ENTERPRISE INTEGRATION
 * Change Control
 *
 * $Log::   $
 * 
 *    Rev 1.7   Dec 22 2005 14:42:56   ddearman
 * changed zipcode to require between 5 and 11 digits
 * 
 *    Rev 1.6   Dec 19 2005 10:56:26   ddearman
 * changed account type from length=3 to maxLength=3
 * 
 *    Rev 1.5   Dec 01 2005 16:35:36   skondaka
 * No change.
 * 
 *    Rev 1.4   Oct 17 2005 10:35:18   ddearman
 * updated per new GetProfile business spec
 * 
 *    Rev 1.3   Jul 14 2005 11:13:48   ddearman
 * changed creditcardnumber element to a string to allow encryption
 * 
 *    Rev 1.2   Dec 30 2004 14:41:56   skovilmadam
 * Changed Facet for Amount
 * 
 *    Rev 1.1   Dec 28 2004 11:25:12   skovilmadam
 * Removed Enumerations from BooleanEntity
 * 
 *    Rev 1.0   Dec 07 2004 18:53:18   skovilmadam
 * Initial revision.
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ent="http://ei.directv.com/schemas/entities/v3_0" targetNamespace="http://ei.directv.com/schemas/entities/v3_0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>This Schema contains all Core Types. Core types are simple data types that are reused in several other XSDs. This Schema have any external references</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="AccessCardIdEntity">
		<xs:annotation>
			<xs:documentation>Used for all references to smart cards</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AccessCardStatusEntity">
		<xs:annotation>
			<xs:documentation>Status of an Access card</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AccountStatusTypeEntity">
		<xs:annotation>
			<xs:documentation>Account Status Type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AccountTypeEntity">
		<xs:annotation>
			<xs:documentation>Valid Account Type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AmountEntity">
		<xs:annotation>
			<xs:documentation>An Entity that represents an Amount</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double">
			<xs:pattern value="[0-9]*\.?[0-9]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BankAccountNumberEntity">
		<xs:annotation>
			<xs:documentation>Bank Account Number</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="BankRoutingNumberEntity">
		<xs:annotation>
			<xs:documentation>ABA Routing Number</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<xs:simpleType name="BillingAccountIdEntity">
		<xs:annotation>
			<xs:documentation>Billing Account Id Entity</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<xs:simpleType name="BooleanEntity">
		<xs:annotation>
			<xs:documentation>Indicates a Boolean value (true/false)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="CamcIdEntity">
		<xs:annotation>
			<xs:documentation>The subscriber ID assigned by the CAMC.  Used for all references to CAMC subscrber Id (CAMC SUBID)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<xs:simpleType name="CityEntity">
		<xs:annotation>
			<xs:documentation>City</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodeEntity">
		<xs:annotation>
			<xs:documentation>Used for a reference field that is a longword.  </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<xs:simpleType name="CountyCodeEntity">
		<xs:annotation>
			<xs:documentation>County Code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:pattern value="\d{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountyNameEntity">
		<xs:annotation>
			<xs:documentation>Indicates a County Name</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CustomerIdEntity">
		<xs:annotation>
			<xs:documentation>Reference to a customer Id</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<xs:simpleType name="DateEntity">
		<xs:annotation>
			<xs:documentation>Date</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="DateTimeEntity">
		<xs:annotation>
			<xs:documentation>Used for Date and Time</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="DayOfMonthEntity">
		<xs:annotation>
			<xs:documentation>Used to indicate the day of the month.  </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="31"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DisconnectTypeEntity">
		<xs:annotation>
			<xs:documentation>Disconnect type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmailAddressEntity">
		<xs:annotation>
			<xs:documentation>Indicates an Email Address</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[\p{L}\p{N}_\-]+(\.[\p{L}\p{N}_\-]+)*@[\p{L}\p{N}_\-]+(\.[\p{L}\p{N}_\-]+)+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FirstNameEntity">
		<xs:annotation>
			<xs:documentation>Valid First Name</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GenericNameEntity">
		<xs:annotation>
			<xs:documentation>A Generic Name</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LastNameEntity">
		<xs:annotation>
			<xs:documentation>Valid Last Name</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MessageCodeEntity">
		<xs:annotation>
			<xs:documentation>Message Code returned after processing</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="MessageTextEntity">
		<xs:annotation>
			<xs:documentation>Message Text returned after processing</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="MiddleInitialEntity">
		<xs:annotation>
			<xs:documentation>Valid Middle Initial</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MonthYearEntity">
		<xs:annotation>
			<xs:documentation>Valid Month and 4 digit Year</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PhoneAreaCodeEntity">
		<xs:annotation>
			<xs:documentation>Valid Phone Area Code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PhoneExtensionEntity">
		<xs:annotation>
			<xs:documentation>Valid Phone Extension</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PhoneNumberEntity">
		<xs:annotation>
			<xs:documentation>Valid Phone number (Straight numbers; no dash/space etc)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
			<xs:pattern value="[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProductTypeEntity">
		<xs:annotation>
			<xs:documentation>Valid Product TYpe</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SecondaryOwnerEntity">
		<xs:annotation>
			<xs:documentation>Valid Secondary Owner</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StreetNameEntity">
		<xs:annotation>
			<xs:documentation>Street Name</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SystemTypeEntity">
		<xs:annotation>
			<xs:documentation>System type that responds to user requests. Value stored in the Provider of the returned message</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="TargetIdEntity">
		<xs:annotation>
			<xs:documentation>IDentifies a Target</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimeEntity">
		<xs:annotation>
			<xs:documentation>Used for times without dates.  </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:time"/>
	</xs:simpleType>
	<xs:simpleType name="ValidCreditCardNumberEntity">
		<xs:annotation>
			<xs:documentation>Valid Credit Card Number</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ZipCodeEntity">
		<xs:annotation>
			<xs:documentation>Zip Code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="5"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
